$color1:#121212;
$color2:#242424;
$color3:#DB6574;
$color4:#4d4d4d;

$text-color: #dddddd;

$heider-height: 50px;

$small-radius: 3px;
$big-radius: 5px;

html {
    font-size: 14px;
    line-height: 1.40rem;
}

* {
    color: $text-color;
    text-decoration: none;
}

body {
    font-family: "Ubuntu", "boxicons", sans-serif  !important;
    height: 100vh;
}

.middle-section {
    display: flex;
    height: calc(100vh - 50px);
}