.row-sm, .row-md, .row-lg {
    display: flex;
    flex-wrap: wrap;
}

.row-sm {
    @media (max-width: 768px) {
        flex-direction: column;
        .col-1, .col-2, .col-4 {
            width: 100%;
        }
    }
}

.row-md {
    @media (max-width: 992px) {
        flex-direction: column;
        .col-1, .col-2, .col-4 {
            width: 100%;
        }
    }
}

.row-lg {
    @media (max-width: 1200px) {
        flex-direction: column;
        .col-1, .col-2, .col-4 {
            width: 100%;
        }
    }
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.col-1, .col-2, .col-4 {
    box-sizing: border-box;
    display: block;
}