.header {
    position: relative;
    height: $heider-height;
    &-fixed {
        box-sizing: border-box;
        height: $heider-height;
        width: 100%;
        position: fixed;
        background-color: $color1;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid $color4;
    }

    &-left {
        display: flex;
        align-items: center;
        &-logo {
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
            margin-right: 0px;
        }

        .sidebar-collapse-button {
            margin-left: 10px;
            i {
                font-size: 22px;
            }
        }
    }

    &-right {
        margin-left: auto;
        display: flex;
        &-item + &-item {
            margin-left: 15px;
        }
    }
}